POSTGRES_DB=imperium_wiki
POSTGRES_USER=imperium
POSTGRES_PASSWORD=imperium_local_password
BACKEND_PORT=3000
FRONTEND_PORT=8080
CORS_ORIGIN=http://localhost:8080
# Zmień przed uruchomieniem. Operacje zapisu API bez klucza są blokowane.
ADMIN_API_KEY=change-me
